@{
    ViewBag.Title = "Home Page";
}
    <section>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <center>
                        <h2>Our Features</h2>
                        <p><b>Our 3 Primary Features -</b></p>
                    </center>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <center>
                        <img width="150px" src="~/images/sign-up.png" />
                        <h4>Sign Up</h4>
                        <p class="text-justify">You should sign up to make a borrowing request.</p>
                    </center>
                </div>
                <div class="col-md-4">
                    <center>
                        <img width="150px" src="~/images/search-online.png" />
                        <h4>Search Books</h4>
                        <p class="text-justify">You can search books from our catalog that increases with donations.</p>
                    </center>
                </div>
                <div class="col-md-4">
                    <center>
                        <img width="150px" src="~/images/digital-inventory.png" />
                        <h4>Get Book</h4>
                        <p class="text-justify">When you make a request, you will get knowledge by our customer services.</p>
                    </center>
                </div>
            </div>
        </div>
    </section>