
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Library 4 Everyone</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/Home/Index">Library For Everyone</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="/Book/Index">Books</a></li>
                @if (User.IsInRole("Admin"))
                {
                    <li><a href="/Writer/Index">Writers</a></li>
                    <li><a href="/Publisher/Index">Publishers</a></li>
                    <li><a href="/User/Index">Members</a></li>
                    <li><a href="/Borrow/Index">Borrowings</a></li>
                }
                <li><a href="/Security/SignUp">SignUp</a></li>
                <li><a href="/Security/Login">LogIn</a></li>
                <li><a href="/Security/Logoff">LogOff</a></li>
            </ul>
        </div>
    </nav>

    <div class="container">
        @RenderBody()
    </div>

</body>
</html>
